*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    color: #fff;
}

/* HEADER */
header{
    background-color: black;
    padding:  1rem ;
}


.main-header{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header-menu-bar{
    font-size: 1rem;
    cursor: pointer;
}
.header-app{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.header-logo{
    width: 2rem;
    height: 2rem;
    background-color: #1eba55 ;
    border-radius: 100%;
    position: relative;
}
.header-logo i{
    position: absolute;
    top: 0.5rem;
    left: 0.45rem;
    color: black;
}
.header-name{
    font-weight: 500;
    font-family: "Inter", sans-serif;
}
.header-search{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    border: 1px solid transparent;
}
.header-search i{
    font-size: 0.8rem;
    color: #757575;
    cursor: pointer;

}
.header-search input:focus{
    outline: none;
    cursor: pointer;
}
.header-search.is-focused {
  border: 1px solid #1DB954; 
  border-radius: 0.3rem;   
  cursor: pointer;
}
.header-search,
.header-search input{
    width: 100%;
    background-color: #171717;
    
}
.header-search input{
    border: none;
    color: #757575;
    cursor: pointer;
    font-family: "Inter", sans-serif;
}
.header-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    cursor: pointer;
}
.header-profile span{
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}
/* MAİN */
main{
    border: 1px solid #171717;
    display: flex;
}
.main-sidebar{
    background-color: #171717;
    width: 13%;
    padding: 1rem 0.5rem;
    border-right: 1px solid #1f1f1f;
}
.main-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}
.main-menu a{
    text-decoration: none;
    color: #b3b3b3;
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    padding: 0.5rem;
    border: 1px solid transparent;
}
.main-sidebar a:hover{
    color: #fff;
    border: 1px solid #1DB954;
    border-radius: 0.4rem;
}
.main-content{
    width: 87%;
    background-color: #131313;
    display: flex;
    justify-content: center;
}
.main-content-items{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1rem auto;
    gap: 1rem;
}

.main-content-item{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.main-content-item h2 {
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
}
.main-content-cards{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}
.main-content-card{
    display: flex;
    flex-direction: column;
    background-color: #171717;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #1f1f1f;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}
.main-content-card:hover{
    transform: translateY(-5px)
}
.main-content-card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.main-content-card:first-child{
    align-items: center;
}
.main-content-card img{
    width: 150px;
    height: 130px;
    border-radius: 0.5rem;
    object-fit: cover;
}
.list-inform{
    padding: 0.5rem;
}
.list-inform h4{
    color: #fff;
    font-weight: 300;
    font-size: 0.9rem;
    font-family: "Inter", sans-serif;
}
.list-inform p{
    color: #b3b3b3;
    font-size: 0.8rem;
    width: 100%;
    font-family: "Nunito", sans-serif;
    margin-top: 0.5rem;
}
.albums:first-child{
    align-items: flex-start;
}
.albums img{
    width: 150px;
    height: 130px;
    object-fit: cover;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #181818;
    border-radius: 0.5rem;
}
thead {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    color: #b3b3b3;
    text-align: left;
    background-color: #181818;
}
thead tr th:last-child {
  text-align: right;
}
thead th {
    padding: 0.5rem 1rem;
}
tbody td {
    padding: 0.5rem 1rem;
    font-family: 'Nunito', sans-serif;
    font-size: 0.9rem;
    color: #eaeaea;
    border-top: 1px solid #282828;
}
tbody td:hover{
    color: #fff;
    cursor: pointer;
}
tbody tr:hover {
    background-color: #282828;
}

tbody td:first-child {
    width: 40px;
    color: #b3b3b3;
    text-align: center;
}

tbody td:last-child {
    text-align: right;
    color: #b3b3b3;
}


/* FOOTER */

footer{
    background-color: black;
    padding: 1.4rem 2rem;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-music-name {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.music-name-inform h4{
    font-family: "Inter", sans-serif;
}
.music-name-inform p{
    margin-top: 0.2rem;
    color: #b3b3b3;
    font-family: 'Nunito', sans-serif;

}
.footer-music-name img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.footer-button{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.backward-step,
.forward{
    background-color: #121212;
    border: 1px solid #1f1f1f;
    color: #ebebeb;
    padding: 0.8rem 1rem ;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.pause{
    background-color: #1DB954;
    padding: 0.8rem 1rem ;
    border-radius: 5px;  
    color: black; 
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.backward-step:hover,
.forward:hover{
    border: 1px solid #414040;
    background-color: #1f1f1f;
}
.pause:hover{
    background-color: #1ed760;
}
.footer-time{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.footer-time span{
    font-family: "Inter", sans-serif;
}
.times{
    background-color: #333;
    width: 200px;
    height: 5px;
    border-radius: 5px;
}
.time{
    position: absolute;
    height: 5px;
    width: 50px;
    background-color: #1DB954;
    border-radius: 5px;

}
@media (max-width:500px){
    .header-app{display: none;}
    .main-sidebar{display: none;}
    .main-content{width: 100%;}
 
}
/* 
Arka plan rengi : #1a1b1c

arama çubugu arka plan Ç :#171717
arama çubugu yazı :#757575
arama cubugu search icon : #fcfcfc

logo color : #fff
menu bar:#fff

sağ profil:#333333
sağ ğrofil yazı:#dbdbdb

sol side bar  : #171717
logo yeşil : #1eba55 

<i class="fa-regular fa-bars"></i>
<i class="fa-solid fa-music"></i>
<i class="fa-regular fa-magnifying-glass"></i>
*/